.bigger-text{
    font-size: 30px;
}


.choicebtn {
    margin: 5px;
}
  
.articleHeadline {
    color: white;
}

/* This is needed for the article url to show */
.articleHeadline a {
    color: white;
}

.error {
    color:  red;
}