.bigger-text{
    font-size: 30px;
}


.choicebtn {
    margin: 5px;
}

/*Sets the size of the graph
#canvas-div {
    width: 400px;
    height: 300px;
}
*/
.articleHeadline {
    color: white;
}

/* This is needed for the article url to show */
.articleHeadline a {
    color: white;
}

.error {
    color:  red;
}